/* Fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/IIm-lPOtfVKQy0GMiczF_1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v12/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 20%);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  font-style: italic;
}

img {
  max-width: 100%;
}

.ccontainer {
  display: flex;
  flex-direction: column;
}

.left-margins{
  margin: 2.5rem 2rem;
}

.left {
  width: 60%;
}

.right {
  width: 40%
}

.title {
  padding: 2rem 0;
  text-align: center;
}

/* universal article container styling */

.articles {
 margin-top: 2rem;
}

.article {
  display: flex;
}

.article .image-container {
  flex-shrink: 0;
  width: 35%;
  margin: 1rem;
}

.article .ccontainer {
  justify-content: center;
}

.article h3, .article p, .article a {
  margin: 0.5rem 0;
}

/* Header */

header {
  position: fixed;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl( 0, 0%, 100%);
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 1.5rem;
}

.logo-left {
  color: hsl(0, 0%, 20%);
  font-weight: 900;
}

.logo-right {
  color: hsl(0, 0%, 80%);
}

.logo img {
  height: 3.5rem;
}

header nav {
  margin-right: 1.5rem;
}

header a {
  margin-left: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

/* Banner */

#banner {
  display: flex;
  background-color: hsl(0, 0%, 80%);
  padding-top: 4.5rem;
}

#banner .ccontainer {
  justify-content: center;
  max-width: 2px;
  padding-left: 1rem;
}

#banner h1, #banner h3, #banner a {
  margin: 1rem 0;
  line-height: 1;
}

#banner a {
  padding: 0.5rem 0;
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  text-align: center;
}

/* About Section */

#about {
  display: flex;
}

#about .main-article h2 {
  padding: 2rem 0 1.5rem 0;
}

#about .main-article p {
  padding-bottom: 2rem;
}

#about .articles {
  margin-top: 1.5rem;
}

#about .articles .article:last-child {
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 2rem;
}

/* Courses Sections */

#courses {
  background-color: hsl(0, 0%, 80%);
}

#courses .container {
  display: flex;
  padding: 0 4.5rem 2rem 4.5rem;
}

#courses .course {
  width: 33%;
  background-color: white;
}

#courses .course span {
  margin: 0.5rem 1rem;
}

#courses .course h3 {
  margin: 1rem;
  margin-bottom: 0;
}

#courses .course p {
  margin: 0 1rem 1.5rem 1rem;
}

#courses .container .course:nth-child(2n){
  margin: 0 2rem;
}

/* Thesis Section */

#thesis .container {
  display: flex;
}

#thesis .main-article h3 {
  padding: 2rem 0 1.5rem 0;
}

#thesis .articles .article:first-child {
  background-color: hsl(0, 0%, 80%);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid hsl(0, 0%, 80%);
}

footer nav a:first-child {
  margin-right: 1rem;
}
