/* Fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/IIm-lPOtfVKQy0GMiczF_1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v12/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 20%);
  background-color: hsl(29, 41%, 70%);
}

a {
  text-decoration: none;
  color: hsl(29, 100%, 42%);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.35;
}

p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

img {
  max-width: 100%;
}

.ccontainer {
  display: flex;
  flex-direction: column;
}

.left-margins {
  margin: 2.5rem 2rem;
}

.left {
  width: 60%;
}

.right {
  width: 40%
}

.mobile {
  /* turns off mobile configurations */
  display: none;
}

/* universal article container styling */

.article {
  display: flex;
}

.article .image-container {
  flex-shrink: 0;
  width: 35%;
  margin: 1rem;
}

.article .ccontainer {
  justify-content: center;
}

.article h3, .article p, .article a {
  margin: 0.5rem 0;
}

.article a {
  margin-top: 0.75rem;
}

.article a:hover {
  text-decoration: underline;
}

/* universal mobile configuration */

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .right {
    width: 100%;
  }
  .article {
    display: block;
    padding: 0.5rem 0;
  }
  .article .ccontainer {
    padding: 0 4rem;
  }
  .article .image-container {
    margin: 1rem 2rem;
    width: auto;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl( 0, 0%, 100%);
  border-bottom: 1px solid hsl(29, 100%, 42%);
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 1.5rem;
}

.logo-left {
  color: hsl(0, 0%, 20%);
  font-weight: 900;
}

.logo-right {
  color: hsl(29, 100%, 42%);
  margin-right: .5rem;
}

.logo img {
  height: 3.5rem;
  margin-right: .25rem;
}

.logo:hover {
  background-color: hsl(29, 41%, 70%);
  border-radius: 10px;
}

.logo:hover img {
  background-color: hsl(29, 100%, 42%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

header.desktop nav {
  margin-right: 0.5rem;
}

header.desktop nav img {
  display: none;
}

header.desktop a {
  padding: 0.25rem 0.5rem;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

header a:hover {
  background-color: hsl(29, 41%, 70%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
}

/* fix header break at 760px */

@media only screen and (max-width: 760px) {
  header {
    justify-content: center;
  }
  .logo {
    display: none;
  }
  header nav {
    display: flex;
    align-items: center;
    height: 4.5rem;
  }
  header.desktop nav img {
    display: block;
    margin-right: 0.5rem;
    height: 3rem;
  }
}

/* mobile configuration for header */

@media only screen and (max-width: 480px) {
  header.mobile nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.5rem;
  }
  header.mobile a {
    padding: 0.5rem;
    padding-bottom: 0;
  }
}

/* Banner */

#banner {
  display: flex;
  padding-top: 4.5rem;
}

#banner .ccontainer {
  justify-content: center;
  max-width: 20.2rem;
  padding: .5rem;
}

#banner h1, #banner h3, #banner a {
  margin: 0.6rem 0;
}

#banner .desktop a {
  display: none;
}

#banner a {
  width: 100%;
  padding: 1rem 0;
  margin-top: 1.1rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(29, 41%, 70%);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

#banner a:hover {
  background-color: hsl(29, 100%, 42%);
}

/* fix banner break at 865px */

@media only screen and (max-width: 865px) {
  #banner {
    justify-content: flex-end;
    background-image: url("../media/banner.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  #banner .desktop {
    display: none;
  }
  #banner .ccontainer {
    background-color: hsla(29, 41%, 70%, .9);
  }
}

/* mobile configuration for banner */

@media only screen and (max-width: 480px) {
  #banner {
    display: block;
    background-image: none;
  }
  #banner .ccontainer {
    max-width: 100%;
    padding: 2rem;
    background: transparent;
  }
}

/* About Section */

#about {
  display: flex;
  background-color: hsl(0, 0%, 100%);
}

#about .main-article h2 {
  padding: 2rem 0 1.5rem 0;
}

#about .main-article p {
  padding-bottom: 2rem;
}

#about .articles {
  margin-top: 1.5rem;
}

#about .articles .article:last-child {
  background-color: hsl(29, 20%, 70%);
  margin-bottom: 2rem;
}

/* mobile configuration for main content */

@media only screen and (max-width: 480px) {
  #main-content {
    background-color: hsl(29, 11%, 42%);
  }

/* mobile configuration for about section */

  #about {
    background-color: transparent;
  }
  #about .articles {
    margin-top: 1rem;
  }
  #about .articles .article:last-child {
    background-color: transparent;
    margin-bottom: 1rem;
  }
}

/* Courses Sections */

#courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 4.5rem 2rem 4.5rem;
}

#courses .title {
  text-align: center;
  padding: 2rem 0;
}

#courses .course {
  width: 30%;
  background-color: white;
  margin-bottom: 2.5rem;
}

#courses .course span {
  margin: 0.75rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-style: italic;
}

#courses .course h3 {
  margin: 1rem;
  margin-bottom: 0;
}

#courses .course-list {
  margin: 0 1rem 1.5rem 1rem;
}

#courses .course-list a {
  color: hsl(0, 0%, 20%);
  font-size: 1.1rem;
  line-height: 1.4rem;
}

#courses .course-list a:hover {
  font-weight: bold;
  color: hsl(29, 100%, 42%);
}

/* fix course section break at 865px */

@media only screen and (max-width: 865px) {
  #courses .course {
    width: 47%;
  }
}

/* mobile configuration for course section */

@media only screen and (max-width: 480px) {
  #courses .container {
    display: block;
    padding: 0 2rem;
  }
  /* drop-down display of course offerings */
  #courses .course {
    width: auto;
    margin-bottom: 1rem;
    display: none;
  }
  #courses h3 {
    background-color: hsl(29, 41%, 70%);
    padding: 0.5rem 1rem;
    border-bottom: 2px solid hsl(29, 100%, 42%);
    margin-top: 1rem;
  }
  #courses h3:hover+div {
    display: flex;
  }
  #courses .course:hover {
    display: flex;
  }
}

/* Thesis Section */

#thesis {
  background-color: hsl(0, 0%, 100%);
}

#thesis .container {
  display: flex;
}

#thesis .title {
  text-align: center;
  padding-top: 2rem;
}

#thesis .main-article h2 {
  padding: 2rem 0 1.5rem 0;
}

#thesis .articles {
  margin-top: 2.5rem;
}

#thesis .articles .article:first-child {
  background-color: hsl(29, 20%, 70%);
}

/* mobile configuration for thesis section */

@media only screen and (max-width: 480px) {
  #thesis {
    padding-top: 3rem;
    background-color: transparent;
  }
  #thesis .container {
    display: block;
  }
  #thesis .left {
    width: auto;
    position: relative;
  }
  #thesis .left-margins {
    margin: 0;
    margin-top: 2.5rem;
  }
  #thesis .left h2 {
    font-size: 1.5rem;
    padding: 1rem 0.75rem;
    background-color: hsla(0, 0%, 0%, 0.3);
    color: hsl(29, 20%, 70%);
  }
  #thesis h3 {
    margin: 2rem 0;
    padding: 2rem 0.75rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(29, 20%, 70%);
  }
  #thesis h3:hover, #thesis h2:hover {
    color: hsl(29, 100%, 42%);
  }
  .fisma {
    background-image: url("../media/thesis-fisma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:
  }
  .nowthen {
    background-image: url("../media/thesis-now-and-then.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 5rem;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1.5rem;
  border-top: 1px solid hsl(29, 100%, 42%);
}

footer span {
  color: hsl(29, 100%, 42%);
}

footer a {
  padding: 0.25rem .5rem;
}

footer a:hover {
  color: hsl(0, 0%, 100%);
}

/* 565 break and mobile configuration for footer */

@media only screen and (max-width: 565px) {
  footer {
    padding: 2rem 1.5rem;
  }
  footer .desktop {
    display: none;
  }
}
