/* Universal Styles */

html {
  font-size: 16px;
  font-family: sans-serif;
  color: hsl(0, 0%, 20%);
}

div {
  border: 1px solid red;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.ccontainer {
  display: flex;
  flex-direction: column;
}

/*.left {
    width: 60%;
    margin: 2rem 1.5rem;
    flex-shrink: 0;
}
*/

.left-margins{
  margin: 2rem 1.5rem;
}

.left {
  width: 60%;
}

.right {
  width: 40%
}

.dark {
  color: hsl(0, 0%, 20%);
}

.light {
  color: hsl(0, 0%, 80%);
}

/* universal article container styling */

.articles {
 margin-top: 2rem;
}

.article {
  display: flex;
}

.article .image-container {
  flex-shrink: 0;
  width: 35%;
  margin: 1rem;
}

.article .ccontainer {
  justify-content: center;
}

.article h3, .article p, .article a {
  margin: 0.5rem 0;
}

/* Header */

header {
  position: fixed;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: hsl( 0, 0%, 100%);
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1.5rem;
}

header nav {
  margin-right: 1.5rem;
}

header a {
  margin-left: 1rem;
}

/* Banner */

#banner {
  display: flex;
  background-color: hsl(0, 0%, 80%);
  padding-top: 4rem;
}

#banner .ccontainer {
  justify-content: center;
  max-width: 260px;
  padding-left: 1rem;
}

#banner h1, #banner h3, #banner a {
  margin: 1rem 0;
  line-height: 1;
}

#banner a {
  padding: 0.5rem 0;
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  text-align: center;
}

/* About Section */

#about {
  display: flex;
}

#about .main-article h2 {
  padding: 2rem 0 1.5rem 0;
}

#about .main-article p {
  padding-bottom: 2rem;
}

/* Thesis Section */

#thesis .container {
  display: flex;
}
